<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %} | ShoeHolic</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% block style %} {% endblock style %}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>


        <!-- PayPal JavaScript SDK -->
        <script src="https://www.paypal.com/sdk/js?client-id=AdOy9aHvS-gLVeiDG5ooUFpCWtvuHx1Z4xkjlbdpOHFUy1feor5kzME1uhcoGdh74bf-TMeiIaTnUTpe&currency=USD"></script>
</head>
<body>

     <!-- Navbar -->
     <nav class="navbar fixed-top navbar-expand-sm navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/static/images/logo.jpg" alt="Avatar" style="border-radius: 20%; width: 70px; background-color: white;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"> <a href="{% url 'register' %}" class="nav-link"><b> New & Featured </b></a> </li>
            <li class="nav-item"> <a href="{% url 'store' %}" class="nav-link"><b> Store </b></a> </li>
            <li class="nav-item"> <a href="/challenges" class="nav-link"><b> Contact Us </b></a> </li>
          </ul>
  
          <form action="{% url 'search' %}" method="GET">
          <input id="search" name="keyword"><div class="div1"></div></input>
        </form>
  
  
  
          {% if user.id is None %}
          <a class="btn btn-light" href="{% url 'register' %}">SignUp</a>
  
          {% else %}
          <div class="dropdown" style="width:100px;">  
            <button id="account_btn" class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <img src="/static/images/user.png" alt="..." width="50%">
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <p class="dropdown-item">Hi {{user.first_name}}</p>
              <a class="dropdown-item" href="{% url 'dashboard' %}">Account</a>
              <a class="dropdown-item" href="{% url 'logout' %}">LogOut</a>
            </div>
          </div>
          {% endif %}
  
  
          <a class="navbar-brand" href="{% url 'cart' %}">
            <img src="/static/images/cart5.png" alt="cart" style="width: 35px;">
            <span class="badge badge-pill badge-danger notify" >{{cart_count}}</span>
          </a>
  
  
          <div class="dot"></div>
    </nav>
{% block body %}
{% endblock body %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>


</body>
</html>