{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}

{% block body %}

<!-- new launches -->
<div class="main">
<div class="parallax-outer">
    <span class="parallax-text" text="Nike">Nike</span>
    <div class="image"><img id="shoe" class="zoom" src="/static/images/shoe1.png"></div>
  </div>
</div>
<div class="main">
  <div class="parallax-outer">
      <span class="parallax-text2" text="ADIDAS">ADIDAS</span>
      <div class="image"><img id="shoe2" class="zoom2" src="/static/images/shoe12.png"></div>
    </div>
  </div>

  <!-- product cards -->
<section id="product_cards">
  <div class="container">
        <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe12.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
        <h3>PRICE: ₹2500</h3>
      </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe5.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
          <h3>PRICE: ₹2500</h3>
        </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe5.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
          <h3>PRICE: ₹2500</h3>
        </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe2.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
          <h3>PRICE: ₹2500</h3>
        </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe2.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
          <h3>PRICE: ₹2500</h3>
        </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
    <div class="card">
      <div class="imgBx">
        <img src="/static/images/shoe2.png" alt="image not found">
        <h2>Nike Shoes</h2>
      </div>
      <div class="content">
        <div class="color">
          <h3>COLOR : </h3>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="price">
          <h3>PRICE: ₹2500</h3>
        </div>
        <a href="{% url 'store' %}">View Details</a>
      </div>
    </div>
  </div>
</section>

{% endblock %}