.card {
    box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);
}

section{
  top: 120px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 1rem;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
}

.img-sm{
  width: 90px;

}

.itemside {
    position: relative;
    display: flex;
    width: 100%;
  }
  .itemside .aside {
    position: relative;
    flex-shrink: 0;
  }
  .itemside .info {
    padding-left: 15px;
    padding-right: 7px;
  }
  .itemside p {
    margin-bottom: 0;
  }
  .itemside .title {
    display: block;
    margin-bottom: 5px;
    color: #212529;
  }
  .itemside a.title:hover {
    color: #3167eb;
  }
  
  a.itemside {
    color: initial;
  }
  
  .items-bordered-wrap .itemside:not(:last-child) {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  
  .itemlist {
    padding: 20px;
    border-bottom: 1px solid #eee;
  }
  
  .list-inline {
    margin-bottom: 0;
  }
  
  .list-inline-item {
    vertical-align: middle;

  }
  
  dl[class=row] {
    margin-bottom: 0;
  }
  [class*=dlist-] {
    margin-bottom: 5px;
  }
  [class*=dlist-] dd {
    margin-bottom: 0;
  }
  
  .dlist-inline dt, .dlist-inline dd {
    display: inline-block;
  }
  
  .dlist-align {
    display: flex;
  }
  .dlist-align dt {
    width: 150px;
    word-wrap: break-word;
    font-weight: normal;
  }
  .dlist-align dd {
    flex-grow: 1;
  }
  
  ul.row, ul.row-sm {
    list-style: none;
    padding: 0;
  }
  

#Checkout_btn{
  text-align: center;
  width: 15vw;
}

/* empty cart */


#empty{
  margin-right: 20px;
}



#heading_place_order{
  color: white;
}