html, body {
    height: 100%;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* message styles */


.message-container {
	border-radius: 4px;
  }
  
  .alert {
	position: relative;
	width:100vh;
	padding: 15px 15px 15px 50px;
	border-radius: 4px;
  }
  
  .alert-error {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
  }
  
  .alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
  }
  
  .alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
  }
  
  .alert-warning {
	background-color: #fcf8e3;
	border-color: #faebcc;
	color: #8a6d3b;
  }
  
  .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px;
	background: none;
	border: none;
	font-size: 20px;
	color: #000;
	cursor: pointer;
  }