{% extends 'base.html' %}
{% block title %}
Store
{% endblock title %}

{% block style %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/storestyle.css' %}">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
{% endblock style %}
{% block body %}

<div class="container">
	<div class="row">
		 <div id="wrapper" class="toggled">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="margin-left:0;" >
                <li class="sidebar-brand">
                    <button class="navbar-toggler" type="button" href="#menu-toggle" aria-label="Toggle menu"  id="menu-toggle" style="margin-top:20px; float:right">
                        <img src="/static/images/filter.png" alt="Avatar" style="border-radius: 20%; width: 30px; background-color: white;">
                    </button>
                        <!-- <a href="#menu-toggle"  id="menu-toggle" style="margin-top:20px;float:right" > 
                            <img src="/static/images/filter.png" alt="Avatar" style="border-radius: 20%; width: 40px; background-color: white;">
                        </a>  -->
                </li>
                <li>
                  <h4>Categories</h4>
                </li>
                <li>
                  <a href="{% url 'store' %}"><i class="fa fa-sort-alpha-asc " aria-hidden="true"> </i> <span>All Products</span>  </a>
              </li>
                {% for category in links %}
                <li>
                    <a href="{{ category.get_url }}"><i class="fa fa-sort-alpha-asc " aria-hidden="true"> </i> <span>{{ category.category_name }}</span>  </a>
                </li>
                {% endfor %}
                <li> <h4>Sizes</h4> </li>
                  <div class="filter-content collapse show" id="collapse_4">
                    <div class="card-body">
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XS </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> SM </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> LG </span>
                      </label>
        
                      <label class="checkbox-btn">
                        <input type="checkbox">
                        <span class="btn btn-light"> XXL </span>
                      </label>
                </div>
                </div>

                <li> <h4>Price</h4> </li>
                <div class="filter-content collapse show" id="collapse_3">
                    <div class="card-body">
                          <label>Min</label>
                          <label>Max</label>
                              <select class="form-control" id="pricebox">
                                <option value="0">$0</option>
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                            </select>
                              <select class="form-control" id="pricebox">
                                <option value="50">$50</option>
                                <option value="100">$100</option>
                                <option value="150">$150</option>
                                <option value="200">$200</option>
                                <option value="500">$500</option>
                                <option value="1000">$1000</option>
                                <option value="2000">$2000+</option>
                            </select>
                        <button class="btn btn-block btn-primary">Apply</button>
                    </div>
                </div>
            </ul>
        </div>
</div>
<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
                  <h3 id="count"><b>{{ product_count }}</b> Items Found</h3>
                  {% for product in products %}
                  <div class="col-md-4">
                        <section id="product_cards_store">
                            <div class="container">
                                  <div class="card">
                                <div class="imgBx">
                                  <img src="{{ product.images.url }}" alt="image not found">
                                  <h2>{{ product.product_name }}</h2>
                                </div>
                                <div class="content">
                                  <div class="color">
                                    <h3>COLOR : </h3>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                                  <div class="price">
                                  <h3>PRICE: ₹{{ product.price }}</h3>
                                </div>
                                  <a href="{{ product.get_url }}">Add to Cart</a>
                                </div>
                              </div>
                            </div>
                        </section>
                      </div>
                      {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>

    
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>


{% endblock %}