<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
    {% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/signupstyle.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>

    
    <div class="main"> 
	{% include 'includes/alerts.html' %}
		<div class="signup">
            <form action="{% url 'forgotPassword' %}" method="POST" id="forgotpass_form">
                {% csrf_token %}
                <label for="chk" aria-hidden="true">Forgot Password</label>
                <input type="email" name="email" placeholder="Email" required="">
                <button id="btn" type="submit">Submit</button>
            </form>
				<p id="login_link">Remember Password ? &nbsp;<a href="{% url 'login' %}">LogIn</a></p>
			</div>

        </div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</body>
</html>